$white: #ffff;

$primary-red: #FF0000;
$secondary-red: #FF1A1A;
$tertiary-red: #B30000;
$quaternary-red: #EA1D22;

$primary-back: #000;
$secondary-back: #0A0C10;

$linear-red: linear-gradient(106.48deg, $tertiary-red 24.62%, $primary-red 104.12%);
